/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
  padding-inline-start: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

* {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@keyframes moving_background {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 24px 24px;
  }
}
@keyframes moving_background_reverse {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -24px -24px;
  }
}
h1 {
  font-size: 3em;
  font-family: "Fira Mono", monospace;
  color: #fff;
}

h2 {
  font-size: 2em;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  color: #fff;
}

p {
  font-size: 1.5em;
  font-family: "Nanum Gothic Coding", serif;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  color: #fff;
}

strong {
  text-shadow: 2px 2px 0px #a14d3f;
}

em {
  text-shadow: 2px 2px 0px #7cc264;
}

pre {
  font-family: "Fira Mono", monospace;
  color: #fff;
  font-size: 1em;
  background-color: #221f31;
  padding: 1em;
}
pre::selection {
  background-color: #a14d3f;
  color: #fff;
}

a {
  color: #fff;
  text-decoration-color: #fff;
  text-shadow: 1px 1px 0px #fff;
  transition: color 200ms, text-shadow 200ms;
}

a:hover, a:focus, a:focus-within {
  color: #221f31;
  text-shadow: -2px -2px 0px #000;
  transition: color 200ms, text-shadow 200ms;
  background-color: #fff;
}

::selection {
  background-color: #fff;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
}

html {
  background-image: url("../images/dark_tile.png");
  background-repeat: repeat;
  animation: moving_background 10s linear infinite;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 45vw;
  width: 90vw;
  margin: 1em auto 1em auto;
  background-image: url("../images/header_gravy.png");
  background-position: center;
  background-size: cover;
  border: 24px solid transparent;
  border-image: url("../images/border_transparent.png") 24 stretch;
}
header nav {
  display: flex;
  top: 0;
  left: 0;
}
header nav#horizontalnav {
  flex-direction: row;
  width: 90%;
  position: absolute;
}
header nav#horizontalnav a img {
  display: none;
}
header nav#adminnav {
  flex-direction: row;
  width: 90%;
  position: absolute;
  top: 65px;
}
header nav#adminnav a img {
  display: none;
}
header nav#verticalnav {
  flex-direction: column;
  width: 300px;
  position: fixed;
  z-index: 100;
  transform: translate(-320px, -325px);
  transition: transform 300ms;
}
header nav#verticalnav.visible {
  transform: translate(0px, -325px);
  transition: transform 300ms;
}
header nav#verticalnav.show {
  transform: translate(0px, 0px);
  transition: transform 300ms;
}
header nav#verticalnav.show a#navbutton img {
  transform: rotate(-90deg);
  transition: transform 300ms;
}
header nav#bottomnav {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  transform: translateX(-310px);
  transition: transform 300ms;
}
header nav#bottomnav.visible {
  transform: translateX(0px);
  transition: transform 300ms;
}
header nav a {
  flex-grow: 1;
  height: 65px;
  background-color: #fff;
  transition: background-color 200ms;
  border: 8px solid transparent;
  border-image: url("../images/button_border.png") 16 round;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header nav a#navbutton {
  cursor: pointer;
}
header nav a#navbutton img {
  transform: rotate(90deg);
  transition: transform 300ms;
}
header nav a p {
  padding: 10px;
  color: #000;
  transition: color 200ms;
}
header nav a img {
  display: block;
  background-color: #fff;
  transition: background-color 200ms;
}
header nav a:hover, header nav a:focus, header nav a:focus-within {
  background-color: #221f31;
  transition: background-color 200ms;
}
header nav a:hover p, header nav a:focus p, header nav a:focus-within p {
  color: #fff;
  transition: color 200ms;
}
header nav a:hover img, header nav a:focus img, header nav a:focus-within img {
  background-color: #a14d3f;
  transition: background-color 200ms;
}
header h1#title {
  background-image: url("../images/dither_black.png");
  background-blend-mode: darken;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 0px #fff;
  transition: box-shadow 500ms;
  color: #fff;
  font-weight: bolder;
  margin: 0.5em;
  padding: 4px;
  border: 1px solid #fff;
  width: 100%;
}
header h1#title:hover, header h1#title:focus, header h1#title:focus-within {
  box-shadow: 4px 4px 0px #fff;
  transition: box-shadow 200ms;
}

#topbutton p {
  font-size: 1em;
}

article {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 10px auto 10px auto;
  padding: 0.5em;
  border: 2px solid #9a93b7;
  box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.3);
  transition: box-shadow 500ms;
  background-image: url("../images/dither_black.png");
  position: relative;
}
article:hover, article:focus, article:focus-within {
  box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.3);
  transition: box-shadow 200ms;
}
article:nth-child(odd) {
  right: 2rem;
}
article:nth-child(even) {
  left: 2rem;
}
article section.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1em 0.5em 1em;
  z-index: 20;
  background-image: url("../images/purple_tile.png");
  background-repeat: repeat;
  animation: moving_background_reverse 5s linear infinite;
  border: 2px solid #fff;
}
article section.header h2 {
  color: #fff;
  margin: 0, 0, 0.25em, 0.5em;
  padding: 0.5em;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 50;
}
article section.header p.byline {
  color: #fff;
  font-size: 0.75em;
  font-family: "Fira Mono", monospace;
  margin: 0 1em 0 1em;
  padding: 4px;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 25;
  transform: translateY(-6px);
}
article section.body {
  margin: 0 2em 1em 2em;
  transform: translateY(-6px);
  background-color: #000;
  padding: 8px;
  border: 2px solid #fff;
  box-shadow: 2px 2px 0px #fff;
  transition: box-shadow 500ms;
  z-index: 15;
}
article section.body:hover, article section.body:focus, article section.body:focus-within {
  box-shadow: 4px 4px 0px #fff;
  transition: box-shadow 200ms;
}
article.single {
  left: 0;
  right: 0;
  border: 2px solid #918454;
  box-shadow: 2px 2px 0px #524A2F;
  transition: box-shadow 500ms;
}
article.single:hover, article.single:focus, article.single:focus-within {
  box-shadow: 4px 4px 0px #524A2F;
  transition: box-shadow 200ms;
}

article.list {
  right: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: #221f31;
  background-image: none;
  z-index: 100;
  display: flex;
  flex-direction: row;
  transform: translate(0px, 0px);
  transition: transform 250ms;
}
article.list section.backend_list {
  width: 75%;
}
article.list section.backend_buttons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
article.list section.backend_buttons a {
  flex-grow: 1;
  border: 1px solid #a14d3f;
  text-align: center;
  color: #fff;
  background-color: #ea9182;
}
article.list section.backend_buttons a.delete {
  background-color: #000;
}
article.list section.backend_buttons a.delete p {
  color: #a14d3f;
}
article.list section.backend_buttons a.delete:hover, article.list section.backend_buttons a.delete:focus, article.list section.backend_buttons a.delete:focus-within {
  background-color: #a14d3f;
}
article.list section.backend_buttons a.delete:hover p, article.list section.backend_buttons a.delete:focus p, article.list section.backend_buttons a.delete:focus-within p {
  color: #000;
}
article.list section.backend_buttons a.edit {
  background-color: #7cc264;
}
article.list section.backend_buttons a.edit p {
  color: #fff;
}
article.list section.backend_buttons a.edit:hover, article.list section.backend_buttons a.edit:focus, article.list section.backend_buttons a.edit:focus-within {
  background-color: #fff;
}
article.list section.backend_buttons a.edit:hover p, article.list section.backend_buttons a.edit:focus p, article.list section.backend_buttons a.edit:focus-within p {
  color: #7cc264;
}
article.list section.backend_buttons a p {
  margin: 4px;
}
article.list section:hover, article.list section:focus, article.list section:focus-within {
  background-color: #000;
}
article.list section:hover a p, article.list section:focus a p, article.list section:focus-within a p {
  color: #ea9182;
}
article.list section a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
article.list section a section {
  padding: 8px;
  margin: 0;
}
article.list section a section p span.byline {
  font-size: 0.75em;
}
article.list section a section p.description {
  font-size: 1em;
  margin: 0.5em;
  padding: 4px;
  border: 1px solid #fff;
}
article.list:hover, article.list:focus, article.list:focus-within {
  transform: translate(-4px, -4px);
  transition: transform 250ms;
}

article.cms {
  padding: 0;
  background-color: #a14d3f;
  background-image: none;
}

article.portfolio {
  margin: 1em auto 1em auto;
  width: 90%;
  border: 24px solid transparent;
  border-image: url("../images/border_red.png") 24 stretch;
  right: 0;
  left: 0;
  padding: 0;
  background-image: url("../images/red_tile.png");
  background-repeat: repeat;
  animation: moving_background 5s linear infinite;
}
article.portfolio article.list section {
  width: 100%;
}

footer {
  background: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2em;
}
footer p {
  color: #000;
  font-size: 0.75em;
}
footer p a {
  color: #a14d3f;
}
footer p a:hover, footer p a:focus, footer p a:focus-within {
  color: #000;
}

form {
  max-width: 600px;
  margin: 8px auto 8px auto;
  padding: 8px;
  background-color: #524A2F;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 4px 4px 8px 2px #fff, -4px -4px 8px 2px #fff;
}
form input {
  width: 75%;
  margin: 8px;
  padding: 4px;
  outline: none;
  box-shadow: 2px 2px 0px #000;
  border: 4px solid #918454;
}
form input:focus {
  border: 4px solid #a14d3f;
  background-color: #000;
  color: #fff;
}
form input::selection {
  background-color: #a14d3f;
}
form label {
  color: #fff;
  font-size: 2em;
  font-family: "Fira Mono", monospace;
  text-shadow: 4px 4px 0px #918454;
}
form button {
  color: #fff;
  background-color: #000;
  border: 2px solid #918454;
  margin: 4px;
  font-family: "Fira Mono", monospace;
  font-size: 1em;
  position: relative;
  left: 0;
  top: 0;
  box-shadow: 2px 2px 0px #000;
}
form button:hover, form button:focus, form button:focus-within {
  background-color: #fff;
  color: #000;
  border: 2px solid #a14d3f;
}
form button:active {
  outline: none;
  background-color: #a14d3f;
  color: #fff;
  border: 2px solid #000;
  left: 2px;
  top: 2px;
  box-shadow: 0px 0px 0px #000;
}
form button#reset_button, form button#submit_button {
  cursor: crosshair;
  width: 45%;
}
form.add_content label {
  font-size: 1em;
  display: block;
}
form.add_content input {
  width: 80%;
}

html {
  color: #000;
  background-color: #fff;
}

* {
  background-clip: padding-box;
}