// ~~~~~~~~~~ Mixin Delcarations ~~~~~~~~~~
@mixin standard_border($color){
    border: 1px solid $color;
}
@mixin article_border($color){
    border: 4px solid $color;
}
@mixin image_border($image){
    border: 24px solid transparent;
    border-image: $image 24 stretch;
}
@mixin test_border($image){
    border: 12px solid transparent;
    border-image: $image 12 round;
}
@mixin button_border{
    border: 8px solid transparent;
    border-image: url('../images/button_border.png') 16 round;
}
// ~~~~~~~~~~~~~~~~~~~~