// ~~~~~~~~~~Old Colors~~~~~~~~~~
$background: #2B1F00;
$main: #918454;
$mdark: #524A2F;
$accent: #7D5822;

// ~~~~~~~~~~New Colors~~~~~~~~~~

$black: #050403;
$nearblack: #221f31;
$white: #fefefe;

$dbrown: #543516;
$brown: #9b6e2d;
$lbrown: #e1b047;

$yellow: #f5ee9b;

$lblue: #8be1e0;
$blue: #678fcb;
$dblue: #404a68;

$green: #7cc264;
$dgreen: #316f23;

$red: #a14d3f;
$lred: #ea9182;

$purple: #a568d4;
$lpurple: #9a93b7;

$shadow: rgb(0 0 0 / 30%);