// ~~~~~~~~~~ Page header ~~~~~~~~~~
header{

// ~~~~~~~~~~ Navigation menu ~~~~~~~~~~
    nav{
        display: flex;
        // @include background_animation($dither_black, 5s);
        top: 0;
        left: 0;
        // Horizontal nav bar, visible by default but scrolls off the screen
        &#horizontalnav{
            @include size(lg){
                flex-direction: row;
                width: 90%;
                position: relative;
                margin: 0 auto 4px auto;
                a{
                    img{
                        display: none;
                    }
                }
            }
            @include size(sm){
                display: none;
            }
        }
        // Admin nav bar, sits directly below the horizontal nav at the top of the screen
        &#adminnav{
            flex-direction: row;
            width: 90%;
            position: absolute;
            top: 65px; 
            a{
                img{
                    display: none;
                }
            }
        }
        // Vertical nav, hidden by default, appears when scrolled (through JS)
        &#verticalnav{
            flex-direction: column;
            @include size(lg){
                width: 300px;
            }
            @include size(sm){
                width: 100vw;
            }
            position: fixed;
            z-index: 200;
            transition: transform 300ms;
            // Hides the menu by default
            @include size(lg){
                transform: translate(-320px, -325px);
                &.visible{ // Shows the "menu" button
                    transform: translate(0px, -325px);
                    transition: transform 300ms;
                }
            }
            @include size(sm){
                transform: translate(0px, -325px);
            }
            &.show{ // Shows the rest of the menu
                transform: translate(0px, 0px);
                transition: transform 300ms;
                a#navbutton img{
                    transform: rotate(-90deg);
                    transition: transform 300ms;
                }
            }
        }
        // Bottom nav, the button that takes you back to the top, plus maybe other stuff???
        &#bottomnav{
            position: fixed;
            top: auto;
            bottom: 0;
            left: 0;
            z-index: 200;
            cursor: pointer;
            transform: translateX(-310px);
            transition: transform 300ms;
            &.visible{
                transform: translateX(0px);
                transition: transform 300ms;
            }
        }
        // Styles for the individual buttons, a tag is on the outside so the whole thing is hot
        a{
            flex-grow: 1;
            font-size: 1.5em;
            height: 65px;
            background-color: $white;
            transition: background-color 200ms;
            @include button_border;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            // The "menu" button that toggles the vertical menu
            &#navbutton{
                cursor: pointer;
                img{
                    transform: rotate(90deg);
                    transition: transform 300ms;
                }
            }
            p{ // The text within the buttons
                padding: 10px;
                color: $black;
                transition: color 200ms;
            }
            img{ // The icon within the button
                display: block;
                background-color: $white;
                transition: background-color 200ms;
            }

            // Styles for when the buttons are hovered
            &:hover, &:focus, &:focus-within{
                background-color: $nearblack;
                transition: background-color 200ms;
                p{
                    color: $white;
                    transition: color 200ms;
                }
                img{
                    background-color: $red;
                    transition: background-color 200ms;
                }
            }
        }
    }
}
#topbutton p{
    font-size: 1em;
}

// ~~~~~~~~~~ Title & Header Image ~~~~~~~~~~
section.page_headline{
    @include size(lg){
        @include image_border($transparent_border);
        height: 45vw;
        width: 90vw;
        margin: 0 auto 1em auto;
    }
    @include size(sm){
        width: 100%;
        height: 50vh;
        margin: 0;
    }
    // Background Image
    background-image: url('../images/header_gravy.png');
    background-position: center;
    background-size: cover;
}
// Page title
section.headline{
    @include background_animation($red_tile, 10s);
    @include standard_shadow;
    @include standard_border($red);
    text-align: center;
    @include size(lg){
        width: 90%;
        margin: 0 auto 1em auto;
    }
    @include size(sm){
        width: 100%;
        margin: 65px auto 0 auto;
    }
    h1#title{
        font-size: 2.5em;
        color: $white;
        text-shadow: 4px 4px 0px $lpurple;
        background-color: $nearblack;
        @include standard_border($red);
        padding: 4px;
        margin: 12px;
    }
}