// ~~~~~~~~~~ Image Variables ~~~~~~~~~~
// Borders
$transparent_border: url('../images/border_transparent.png');
$red_border: url('../images/border_red.png');
$green_border: url('../images/border_green.png');
$purple_border: url('../images/border_purple.png');
$button_border: url('../images/button_border.png');

$border_hbrackets: url('../images/horz_brackets.png');
$border_hbrackets_main: url('../images/horz_brackets_main.png');
$border_hbrackets_purple: url('../images/horz_brackets_purple.png');
$border_hbrackets_red: url('../images/horz_brackets_red.png');
$border_hbrackets_white: url('../images/horz_brackets_white.png');
$border_vbrackets: url('../images/vert_brackets.png');
$border_vbrackets_main: url('../images/vert_brackets_main.png');
$border_vbrackets_purple: url('../images/vert_brackets_purple.png');
$border_vbrackets_red: url('../images/vert_brackets_red.png');
$border_vbrackets_white: url('../images/vert_brackets_white.png');

$border_test: url('../images/border_test.png');
// Background Tiles
$dark_tile: url('../images/dark_tile.png');
$light_tile: url('../images/light_tile.png');
$red_tile: url('../images/red_tile.png');
$green_tile: url('../images/green_tile.png');
$pink_tile: url('../images/pink_tile.png');
$shiny_red_tile: url('../images/shiny_red_tile.png');
$purple_tile: url('../images/purple_tile.png');

$dither_white: url('../images/dither_white.png');
$dither_black: url('../images/dither_black.png');