// ~~~~~~~~~~ Image Variables ~~~~~~~~~~
// Borders
$transparent_border: url('../images/border_transparent.png');
$red_border: url('../images/border_red.png');
$green_border: url('../images/border_green.png');
$purple_border: url('../images/border_purple.png');
$button_border: url('../images/button_border.png');

$border_hbrackets: url('../images/border_hbrackets.png');

$border_test: url('../images/border_test.png');
// Background Tiles
$dark_tile: url('../images/dark_tile.png');
$light_tile: url('../images/light_tile.png');
$red_tile: url('../images/red_tile.png');
$green_tile: url('../images/green_tile.png');
$pink_tile: url('../images/pink_tile.png');
$shiny_red_tile: url('../images/shiny_red_tile.png');
$purple_tile: url('../images/purple_tile.png');

$dither_white: url('../images/dither_white.png');
$dither_black: url('../images/dither_black.png');