// ~~~~~~~~~~~~~~~~~~~~PAGE LAYOUT!!~~~~~~~~~~~~~~~~~~~~
main{
    display: flex;
    flex-direction: column;
    // background-color: $nearblack;
}
html{
    @include background_animation($dark_tile, 10s);
}

@import 'header';

// ~~~~~~~~~~Article Elements~~~~~~~~~~

article{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 10px auto 10px auto;
    padding: 0.5em;
    @include standard_border($lpurple);
    background-image: $dither_black;
    position: relative;
    &:nth-child(odd){
        right: 2rem;
    }
    &:nth-child(even){
        left: 2rem;
    }

    // ~~~~~~~~~~Section~~~~~~~~~~
    section.header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em 1em 0.5em 1em;
        z-index: 20;
        h2{
            color: $white;
            margin: 0, 0, 0.25em, 0.5em;
            padding: 0.5em;
            background-color: $black;
            border: 1px solid $white;
            z-index: 50;
        }
        p.byline{
            color: $white;
            font-size: 0.75em;
            @include font_code;
            margin: 0 1em 0 1em;
            padding: 4px;
            background-color: $black;
            border: 1px solid $white;
            z-index: 25;
            transform: translateY(-6px);
        }
        @include background_animation_reverse($purple_tile, 5s);
        @include standard_border($white);
    }
    section.body{
        margin: 0 2em 1em 2em;
        transform: translateY(-6px);
        background-color: $black;
        padding: 8px;
        @include standard_border($white);
        z-index: 15;
    }
}

// ~~~~~~~~~~ Footer ~~~~~~~~~~
footer{
    background: $white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    p{
        color: $black;
        font-size: 0.75em;
        a{
            color: $red;
            &:hover, &:focus, &:focus-within{
                color: $black;
            }
        }
    }
}