// Mixins file for shadows
@mixin standard_shadow{
    box-shadow: 6px 6px 0px $shadow;
    transition: box-shadow 500ms;
    &:hover, &:focus, &:focus-within{
        box-shadow: 8px 8px 0px $shadow;
        transition: box-shadow 200ms;
    }
}
@mixin text_shadow{
    text-shadow: 2px 2px 2px $white_shadow;
}