// ~~~~~~~~~~Font Mixins~~~~~~~~~~
@mixin font_body{  
    font-family: 'Nanum Gothic Coding', serif;
}
@mixin font_deco{  
    font-family: 'DotGothic16', cursive;
}
@mixin font_sans{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
}
@mixin font_code{  
    font-family: 'Fira Mono', monospace;
}

// ~~~~~~~~~~Basic Designations~~~~~~~~~~

h1{
    font-size: 3em;
    @include font_code();
    color: $white;
}
h2{
    font-size: 2em;
    @include font_sans();
    color: $white;
}
p{
    font-size: 1.5em;
    @include font_body();
    @include text_shadow;
    color: $white;
}
strong{
    text-shadow: 2px 2px 0px $red;
}
em{
    text-shadow: 2px 2px 0px $green;
}
pre{
    @include font_code;
    color: $white;
    font-size: 1em;
    background-color: $nearblack;
    padding: 1em;
    &::selection{
        background-color: $red;
        color: $white;
    }
}

// ~~~~~~~~~~Link Styles~~~~~~~~~~

a{
    color: $white;
    text-decoration-color: $white;
    text-shadow: 1px 1px 0px $white;
    transition: color 200ms, text-shadow 200ms;
}
a:hover, a:focus, a:focus-within{
    color: $nearblack;
    text-shadow: -2px -2px 0px $black;
    transition: color 200ms, text-shadow 200ms;
    background-color: $white;
}

// ~~~~~Nav Bar Styles~~~~~



//~~~~~~~~~~Selection Style~~~~~~~~~~
::selection{
    background-color: $white;
    color: $black;
}