// ~~~~~~~~~~Font Mixins~~~~~~~~~~
@mixin font_body{  
    font-family: 'Nanum Gothic Coding', serif;
}
@mixin font_deco{  
    font-family: 'Nixie One', cursive;
}
@mixin font_code{  
    font-family: 'Fira Mono', monospace;
}

// ~~~~~~~~~~Basic Designations~~~~~~~~~~
// ALL headings!!
h1, h2, h3, h4, h5, h6{
    color: $nearblack;
    background-color: $white;
    @include font_deco;
    padding: 4px 0 4px 1em;
}
h1{
    font-size: 3em;
    @include font_deco;
    color: $white;
}
h2{
    font-size: 2.5em;
    @include bracket_border($border_hbrackets_red);
    margin: 8px 0 8px 0;
    &.article_header{
        text-shadow: 4px 4px 2px $lpurple;
        padding: 8px;
    }
}
h3{
    font-size: 2em;
    @include bracket_border($border_hbrackets_main);
    margin: 8px 0 8px 0;
}
h4{
    font-size: 1.5em;
    @include bracket_border($border_hbrackets_purple);
    margin: 8px 0 8px 0;
}
p{
    font-size: 1.25em;
    @include font_body;
    color: $black;
}
strong{
    text-shadow: 2px 2px 0px $lred;
}
em{
    text-shadow: 2px 2px 0px $green;
}
pre{
    @include font_code;
    color: $white;
    font-size: 1em;
    background-color: $nearblack;
    padding: 1em;
    &::selection{
        background-color: $red;
        color: $white;
    }
}
code{
    color: $white;
    background-color: $dblue;
    padding: 8px;
    @include font_code;
    font-size: 1em;
}
blockquote p{
    padding: 24px;
    margin: 4px 0 4px 0;
    background-color: transparent;
    color: $mdark;
    @include font_deco;
    font-size: 2em;
    font-style: italic;
    @include bracket_border($border_vbrackets);
}
// Horizonal rule!
hr{
    width: 80%;
    height: 4px;
    margin: 12px auto 12px auto;
    background-color: $nearblack;
    border: 0 none;
    // @include bracket_border($border_hbrackets);
}

// ~~~~~~~~~~Link Styles~~~~~~~~~~

a{
    color: $red;
    text-decoration: none;
    text-shadow: 2px 2px 2px $lred;
    transition: color 200ms;
    background-color: $white;
    border-bottom: 1px dotted $red;
}
a:hover, a:focus, a:focus-within{
    color: $nearblack;
    transition: color 200ms, background-color 200ms;
    background-color: $lred;
    text-shadow: 0px 0px transparent;
}

// ~~~~~Nav Bar Styles~~~~~



//~~~~~~~~~~Selection Style~~~~~~~~~~
::selection{
    background-color: $red;
    color: $white;
}